<script setup lang="ts">

interface EventProviderBaseProps {
  event: string
  emit?: boolean
}

defineProps<EventProviderBaseProps>()

const $events = useEvents()

</script>

<template>
  <template v-if="$events.isRegistered(event).value">
    <v-btn @click="emit && $events.emit(event)" v-bind="$attrs">
      <slot />
    </v-btn>
  </template>
</template>
