<script setup lang="ts">
import { useModalsStore } from "~/stores/modals.store"
const modalsStore = useModalsStore()
</script>
<template>
  <!-- this component will display other  -->
  <Teleport to="body">
    <component :is="modalsStore.modalComponent" v-model="modalsStore.showingModal" v-bind="modalsStore.modalProps" />
  </Teleport>
</template>
